.responsiveHeight{
    height: 780px;
}

.header-fixed{
    background: red !important;
}
@media (max-width: 575.98px) {
    .responsiveHeight{
        height: 780px;
    }
    .responsiveBg{
        background: #04040499 !important;
    }
    .responsiveText{
        font-weight: normal !important;
    }
}