<div class="row text-center bg-grey t-white footer">
    <div class="col-12 f-18">
        <a id="footerHomeLink" href="#" class="t-white">Home</a>
        <span style="margin: 0px 10px">-</span> 
        <a id="footerAboutLink" href="#" class="t-white">About</a>
        <span style="margin: 0px 10px">-</span> 
        <a id="footerServicesLink" href="#" class="t-white">Services</a>
        <span style="margin: 0px 10px">-</span> 
        <a id="footerPortfolioLink" href="#" class="t-white">Portfolio</a>
        <span style="margin: 0px 10px">-</span> 
        <a id="footerContactLink" href="#" class="t-white" routerLink="/contact">Contact</a>
    </div>
    <div class="col-12 mt-2">
        <a href="mailto:contact@ar-webdesigns.com" class="t-white f-18">
            <i class="material-icons align-middle f-18">email</i>
            contact@ar-webdesigns.com
        </a>
    </div>
    <div class="col-12 mt-2">
        Logo Placeholder
    </div>
</div>