<div class="row text-center bg-grey t-white">
    <div class="col-12">
        <span style="font-size: 1.5rem">Get in Touch</span><br/>
        <a href="mailto:contact@ar-webdesigns.com" class="t-white f-18">
            <i class="material-icons align-middle f-18">email</i>
            contact@ar-webdesigns.com
        </a>
    </div>
    <div class="col-12">
        <span>
            Hello
        </span>
    </div>
    <div class="col-12">
        <span>
            Hello
            <i class="material-icons">face</i>
        </span>
    </div>
</div>