.navbar-brand{
    color:#008AC9;
    font-size: 2.5rem;
}
.mobile-navbar-brand{
    display: none;
}
.navbar-nav{
    font-size: 1.45rem;
}
.btn-blue{
    font-size: 1.45rem;
}

@media (max-width: 575.98px) {
    .navbar-brand{
        display: none;
    }   
    .mobile-navbar-brand{
        display: inline-block;
        font-size: 2.5rem;
    }   
}