/* small devices */
@media (max-width: 575.98px) {
    .serviceDetails{
        font-size: 1.15rem;
    }
    .aboutUsText{
        font-size: 1.25rem;
    }
    .respContainer{
        margin: 0;
    }
    .ui-galleria-caption{
        font-size: 0.8rem !important;
    }
}

.backdrop{ 
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}