<!-- <div id="home" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/images/header.jpg" height="650"alt="First slide">
    </div>
  </div>
</div> -->

<div class="row text-center" style="margin: 0px;">
  <div id="home" class="col-12" style="height: 650px; background-image: url('../../../assets/images/header.jpg')">
    <div class="col-12" style="height: 110px">
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="text-left top-left-carousel">
              <div class="headerTitle">
                <!-- LET US DESIGN THE WEBSITE THAT BUILDS THE FUTURE OF YOUR BUSINESS -->
                BRINGING YOUR BUSINESS TO THE INTERNET
                <!-- WEBSITES. DONE RIGHT -->
                <!-- WE BUILD WEBSITES THAT WILL BUILD YOUR BUSINESS -->
              </div>
              <div class="headerSubText">
                We build beautiful custom built websites tailored to your needs
                <!-- Let us design the website that builds the future of your business -->
              </div>
              <a id="startButton" class="btn getStartedButton" routerLink="/contact">Let's get started!</a>
            </div>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <img class="second-slide" src="../../../assets/images/transparent.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../../../assets/images/transparent.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </div>

  <div id="about" class="col-lg-6 col-sm-12 bg-grey">
    <div class="col-12 divHeader t-blue">
      About Us
    </div>
    <div class="col-12 t-white aboutUsText">
        AR Web Designs is an ambitious web design and development agency based in McAllen, TX.<br/>
        From design and development, to hosting and support, we are here to cater to all of your needs.<br/><br/>
        Have an idea for a website? Is your business in need of an online presence? Take a look at our <a  id="pLink2" href="#portfolio">portfolio</a> below.<br/>
        If you like our work and want to build something together visit our <a routerLink="/contact">contact page</a> so we can get started.
    </div>
  </div>

  <div id="services" class="col-lg-6 col-sm-12 t-orange bg-cream align-middle">
    <div class="divHeader t-orange">
      Services
    </div>

    <div class="row" style="border: 1px solid #333;">
      <div class="col-2 mobile-image-container">
        <img src="../../../assets/icons/mobile.png" alt="mobile first icon" class="w-85">
      </div>
      <div class="col-10 text-left">
        <span class="subHeader">
          Mobile-First Custom Websites
        </span>
        <br/>
        <span class="serviceDetails">
            With over 1.2 billion mobile users worldwide, having a mobile friendly website is a requirement for businesses to thrive.
            So whether you need a conversion centered e-business websites or a simple but effective landing site,
            we have the solution your business needs to be found online and increase your revenue.
        </span>
      </div>
    </div>

      
    <div class="row my-3" style="border: 1px solid #333;">
      <div class="col-2 mobile-image-container">
        <img src="../../../assets/icons/search.png" alt="search engine Optimization icon" class="w-85">
      </div>
      <div class="col-10 text-left">
        <span class="subHeader">
          Search Engine Optimization
        </span>
        <br/>
        <span class="serviceDetails">
            Studies show that when searching for a product or service,
            91.5% of web users will never go past the first Google search results page.
            Having your website display in the first listings of a search is critical for growth,
            we offer the services required to get you there.
        </span>
      </div>
    </div>
      
      
    <div class="row" style="border: 1px solid #333;">
      <div class="col-2 mobile-image-container">
          <img src="../../../assets/icons/maintenance.png" alt="maintenance icon" class="w-85">
      </div>
      <div class="col-10 text-left">
        <span class="subHeader">
          Ongoing Maintenance
        </span>
        <br/>
        <span class="serviceDetails">
            We take pride in our sites, therefore we continually tweak and improve them to adapt to the fast paced growth of the internet.
            If you ever want to update your site or have a new idea, we're here to listen and update whatever is required to meet your standards.
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-2">

  </div>
  <div id="portfolio" class="col-lg-8">
      <div class="divHeader" style="margin-bottom: 15px;">
        Portfolio
      </div>
      <div class="w3-content w3-display-container">
        <div class="mySlides">
          <img src="../../../assets/images/petalosArteScreenshot.png"
            alt="AR Web Designs - Petalos y Arte Flower Shop screenshot"
            width="100%" class="slideImage">
          <br/>
          <div id="workingDiv" class="imageCaption">
            <div class="imageCaptionHeader">
              <a href="https://www.petalosarte.com" target="_blank">Petalos y Arte Flower Shop</a>
            </div>
            <div class="imageCaptionDescription">
              Locally owned flower shop in Palmview, TX providing local fresh flower delivery.
              Their conversion centered eCommerce site has drastically increased revenue and helped locals discover the location.
              Click title above to visit their page.
            </div>
          </div>
        </div>

        <div class="mySlides">
          <img src="../../../assets/images/portfolioImage.png"
            alt="AR Web Desings - your website could be displayed here"
            width="100%" class="slideImage">
          <br/>
          <div id="workingDiv2" class="imageCaption">
            <div class="imageCaptionHeader">
              <a target="_blank">Your Business Name</a>
            </div>
            <div class="imageCaptionDescription">
              Are you ready to get started on your site?<br/>
              Visit our <a routerLink="/contact">contact page</a> and send us all the details.
              
              <!-- Locally owned flower shop in Palmview, TX providing local fresh flower delivery.
              Their conversion centered eCommerce site has drastically increased revenue and helped locals discover the location.
              Click title above to visit their page. -->
            </div>
          </div>
        </div>

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
        <!-- <p-galleria
          id="customerG"
          [images]="images"
          styleClass="myPanel"
          panelWidth="100%"
          frameWidth="100%"
          panelHeight="735"
          (onImageClicked)="testFunction($event.index)"
          effectDuration=2000>
        </p-galleria> -->
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':modalDisplay}"></div>
<div class="modal" id="exampleModal" [ngStyle]="{'display':modalDisplay}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          Visit {{redirectPageName}}?
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" routerLink="/">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="redirect()">Visit Page</button>
        </div>
      </div>
    </div>
  </div>