<div id="home" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/images/header.jpg" height="780"alt="First slide">
    </div>
  </div>
</div>

<div id="about" class="row text-center" style="height: 500px; margin: 0px;">
  <div class="col-lg-6 col-sm-12 bg-grey">
    <div class="f-45 t-blue">
      About Us
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 t-orange bg-cream align-middle">
    <div class="f-45 t-orange">
      Services
    </div>

    <div class="row" style="border: 1px solid #333; height: 125px;">
      <div class="col-2">
          Left
      </div>
      <div class="col-10 text-left">
        <span style="font-size: 22px; font-weight: bold;">Mobile-First Websites</span><br/>
        details
      </div>
    </div><br/>

    <div class="row" style="border: 1px solid #333; height: 125px;">
      <div class="col-2">
          Left
      </div>
      <div class="col-10 text-left">
        <span style="font-size: 22px; font-weight: bold;">Search Engine Optimization</span><br/>
        details
      </div>
    </div><br/>

    <div class="row" style="border: 1px solid #333; height: 125px;">
      <div class="col-2">
          Left
      </div>
      <div class="col-10 text-left">
        <span style="font-size: 22px; font-weight: bold;">Ongoing Maintenance</span><br/>
        details
      </div>
    </div><br/>

  </div>
</div>

<div id="portfolio" class="row text-center" style="height: 500px; margin: 0px;">
  <div class="col">
      <div class="f-45">
        Portfolio
      </div>
  </div>
</div>
