/* You can add global styles to this file, and also import other style files */
.roboto{
    font-family: 'Roboto', sans-serif !important;
}
.openSans{
    font-family: 'Open Sans Condensed', sans-serif !important;

}

.btn-blue{
    /* background-color: #008AC9; */
    /* background-color: #444444; */
    background-color: #008AC9;
    border-color: #008AC9;
    color: #fff !important;
    cursor: pointer;
}
.btn-blue:focus{
    background-color:#008aff;
}
.btn-blue:hover{
    background-color:#008aff;
}

.header-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.sticky-header{
    background-color: rgba(4,4,4,0.6);
    border-bottom-color: #008aff;
    transition: all 0.5s ease-in-out;
}


.navLinks{
    font-size: 1.8rem;
}

.aboutUsText{
    padding: 2rem 8rem;
    font-size: 1.5rem;
}
.divHeader{
    font-size: 3.5rem;
}

.subHeader{
    font-size: 1.5rem;
    font-weight: bold;
}

.serviceDetails{
    font-size: 1.4rem;
}

.footerLinks{
    font-size: 1.5rem;
}

.footerEmailLink{
    font-size: 1.25rem;
}

.t-blue{
    color: #008AC9;
}
.t-orange{
    color: #FE6501;
}
.t-white{
    color: #fff;
}
.t-grey{
    color: #444;
}

.bg-grey{
    background: #333;
}
.bg-cream{
    background: #F8FFEF;
}

.w-85{
    width: 85% !important;
}